.ticket__wrapper {
    width: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    background: #e0e0e0;
    box-shadow: inset 20px 20px 80px #acacac,
                inset -20px -20px 80px #ffffff;
}

button {
    margin-top: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    padding: 0 0.5rem;
    margin: 0.2rem;
}