<div class="ticket__wrapper" *ngFor="let ticket of ticketList">
    <h4>{{ticket.title}}</h4>
    <p>{{ticket.content}}</p>
    <p>{{ticket.created_at | date }}</p>
    <div>
        <button *ngIf="ticket.status === 'TODO'" (click)="statProg(ticket.id)" >INPROGRESS</button>
        <button *ngIf="ticket.status === 'INPROGRESS'" (click)="statDone(ticket.id)">DONE</button>
        <button [routerLink]="['ticket/update/',ticket.id]">Update</button>
        <button (click)="deletTicket(ticket.id)">Delete</button>
    </div>
</div>