.tickets__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tickets__section {
    width: 25rem;
    border-radius: 1rem;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  20px 20px 80px #949494,
                -20px -20px 80px #ffffff;
}

.project__desc {
    margin: 1rem;
}

.project__wrapper {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    padding: 0 0.5rem;
    margin: 0.2rem;
}