<article *ngIf="project">
    <div class="project__wrapper" >
        <h1>{{project.name}}</h1>
            <div>
                <button [routerLink]="['project/update']">Update project</button>
                <button (click)="deleteProject()">Delet project</button>
                <button [routerLink]="['ticket/add']">Add ticket</button>
            </div>
        <div>
            <h2>Description</h2>
            <p class="project__desc">{{project.description}}</p>
            <p>{{project.createdAt | date}}</p>
        </div>
    </div>
    <div class="tickets__wrapper">

        <section class="tickets__section">
            <h3>TO-DO</h3>
            <app-ticket
            [ticketList]="ticketTodo"
            [projectId]="project.id" >
            </app-ticket>
        </section>

        <section class="tickets__section">
            <h3>IN PROGESS</h3>
            <app-ticket 
            [ticketList]="ticketInProgress"
            [projectId]="project.id" >
            </app-ticket>
        </section>

        <section class="tickets__section">
            <h3>DONE</h3>
            <app-ticket 
            [ticketList]="ticketDone"
            [projectId]="project.id" >
            </app-ticket>
        </section>

    </div>

</article>

