<h1>Add new-project !</h1>
<form [formGroup]="myForm" (ngSubmit)="save()" >

    <app-field label="Name : " [control]="myForm.controls['name']">
        <input type="text" name="name" formControlName='name' required />
    </app-field>

    <app-field label="Description : " [control]="myForm.controls['description']">
        <textarea type="text" name="description" formControlName='description' required></textarea>
    </app-field>

    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
        Soumettre
    </button>
</form>