<h1>update ticket !</h1>
<form [formGroup]="myForm" (ngSubmit)="update()" >

    <app-field label="Title : " [control]="myForm.controls['title']">
        <input type="text" name="title" formControlName='title' required />
    </app-field>

    <app-field label="Content : " [control]="myForm.controls['content']">
        <textarea type="text" name="content" formControlName='content' required ></textarea>
    </app-field>

    <app-field label="Status : " [control]="myForm.controls['status']">
        <select type="text" name="status" formControlName='status' required >
            <option>TODO</option>
            <option>INPROGRESS</option>
            <option>DONE</option>
        </select>
    </app-field>

    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
        Soumettre
    </button>
</form>