<header class="header">
  <h1 class="header__h1">
    <a class="header__a" [routerLink]="'/'">
      {{title}}
    </a>
  </h1> 
  <div>
    <button class="button_connect" [routerLink]="['/conect']">conect</button>
    <button class="button_disconect" (click)="deco()" >Disconect</button>
  </div>
</header>

<router-outlet> </router-outlet>

<footer></footer>