.header {
    max-height: 8vh;
    background-color: #0070AD;
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__h1 {
    margin: 0rem 0rem 0rem 1rem;
}

.header__a {
    color: black;
    text-decoration: none;
}

.button_connect {
    margin: 1rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color: dodgerblue;
    color: antiquewhite;
    font-weight: bold;
}

.button_disconect {
    margin: 1rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color: rgb(255, 30, 30);
    color: antiquewhite;
    font-weight: bold;
}


