/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    color: black;
}

body {
    background-color: #e0e0e0;
}