.section__accueil {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items:center;
}

button {
    width: 16rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.projects__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.projects__card {
    border-radius: 0.5rem;
    width: 20rem;
    height: 8rem;
    padding: 0rem 0.6rem;
    margin: 0 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: #e0e0e0;
    box-shadow:  20px 20px 80px #acacac,
                -20px -20px 80px #ffffff;
}

.projects_link {
    text-decoration: none;
    color: black 
}