<section class="section__accueil">

    <button [routerLink]="['project/add']">Creat project</button>

    <article class="projects__wrapper">
        <div *ngFor="let project of projectsArray">
            <a class="projects_link" [routerLink]="['/detail/',project.id]" >
                <article class="projects__card">
                    <h2>{{project.name}}</h2>
                    <p>{{project.description | slice:0:50}}...</p>
                    <p>{{project.createdAt | date}}</p>
                </article>
            </a>
        </div>
    </article>

</section>
